<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>V&S</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <!-- Bootstrap Icons -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Alumni+Sans+SC:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
      integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <link rel="stylesheet" href="/css/landing.css" />
  </head>
  <body>
    <div class="full-screen">
      <div class="nav">
        <ul>
          <li><a id="logo" href="/">V & S</a></li>
          <li><a href="/product/home">Explore</a></li>
          <li>
            <a href="/login">Login</a>
          </li>
          <li>
            <a href="/signup">Signup</a>
          </li>
          <li id="nav-icons">
            <a href="/product/new"><i class="fa-solid fa-bag-shopping"></i></a>
          </li>
        </ul>
      </div>

      <div class="main">
        <div class="slider">
          <div class="slides" id="slideContainer">
            <div class="slide">
              <img src="/assests/slider1.png" alt="1" />
            </div>
            <div class="slide">
              <img src="/assests/slider3.png" alt="2" />
            </div>
            <div class="slide">
              <img src="/assests/slider2.png" alt="3" />
            </div>
          </div>
          <button class="nav-btn prev" onclick="prevSlide()">❮</button>
          <button class="nav-btn next" onclick="nextSlide()">❯</button>
        </div>
      </div>

      <div class="second-section">
        <div class="container-second">
          <div class="head">Elevate Your Style</div>
          <div class="desc">
            "Discover fashion that speaks your personality. From timeless
            classics to the latest trends, we bring you styles that inspire
            confidence and celebrate individuality. Elevate your wardrobe with
            outfits designed for every occasion – whether it's a casual day out,
            a power-packed workday, or an unforgettable evening. Because fashion
            isn’t just about clothing, it’s about expressing who you are. Shop
            now and redefine your style effortlessly!"
          </div>
          <div><a class="btn btn-black">Explore</a></div>
        </div>
      </div>

      <div class="heading-1">Stay Classy, Trendy & Simple!</div>

      <div class="card-section">
        <div class="img">
          <a href="/product?gender=male&type=jacket">
            <img
              src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/28986600/2024/9/23/151e28d3-5c81-4ab1-a447-c1643557b27e1727074468408-Mast--Harbour-Men-Jackets-3201727074467746-1.jpg"
              class="card-img-top"
              alt="..."
            />
          </a>
        </div>

        <div class="img">
          <a href="/product?gender=female&type=jeans">
            <img
              src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/31218663/2024/12/5/c2e15d5d-0f33-4e33-ac9d-c9bb01a053f41733377869561-Chemistry-Women-Jeans-1281733377868900-1.jpg"
              class="card-img-top"
              alt="..."
            />
          </a>
        </div>

        <div class="img">
          <a href="/product?gender=male&type=hoodie">
            <img
              src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/2024/OCTOBER/4/vF5Pomni_51899f4bf83b45aaa089fa9fc2540790.jpg"
              class="card-img-top"
              alt="..."
            />
          </a>
        </div>
      </div>

      <div class="card-section second-card-sec">
        <div class="img">
          <a href="/product?gender=male&type=shirt">
            <img
              src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/2024/AUGUST/22/D1pGkbTE_355d88a675e74622a7bf92b1e6e74195.jpg"
              class="card-img-top"
              alt="..."
            />
          </a>
        </div>

        <div class="img">
          <a href="/product?gender=female&type=dress">
            <img
              src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/15598322/2021/11/17/963b3040-bc9e-420c-aee7-3f4381a6d0061637141563008-plusS-Women-Dresses-681637141562677-1.jpg"
              class="card-img-top"
              alt="..."
            />
          </a>
        </div>

        <div class="img">
          <a href="/product?gender=female&type=dress">
            <img
              src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/23058058/2023/5/6/7045bbb2-f7c2-4c11-bacd-62f3acc69af11683369548690Jumpsuit1.jpg"
              class="card-img-top"
              alt="..."
            />
          </a>
        </div>
      </div>

      <div class="form-section">
        <div class="head">Get The Latest Updates</div>
        <div>
          <form action="/subscribe" method="POST">
            <input
              class="form-control"
              type="text"
              placeholder="Enter your email"
              name="email"
              required
            />
            <button class="btn btn-black">Subscribe</button>
          </form>
        </div>
      </div>

      <%- include("../includes/footer.ejs") %>
    </div>
    <script>
      const slides = document.getElementById("slideContainer");
      const totalSlides = slides.children.length;
      let index = 0;

      function showSlide(i) {
        index = (i + totalSlides) % totalSlides;
        slides.style.transform = `translateX(-${index * 100}%)`;
      }

      function nextSlide() {
        showSlide(index + 1);
      }

      function prevSlide() {
        showSlide(index - 1);
      }

      setInterval(() => {
        nextSlide();
      }, 3000); // Auto-slide every 3 seconds
    </script>
  </body>
</html>
